<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script language="javascript" src="Validator.js"></script>
<script language="javascript">  
 function sumbit_sure(){return confirm('确定要操作该MAC吗?');}
</script>   
<style type="text/css">
table {
	font-size: 36px;
}
input {
	width: 200px;
	height: 60px;
	font-size: 24px;
}
.bt {
	width: 95%;
	height: 90px;
	font-size: 24px;
}
.bt2 {
	width: 80px;
	height: 60px;
	font-size: 24px;
}
.input {
	width: 90%;
	height: 80px;
	font-size: 24px;
}
</style>
</head>
<body>
{% if 'qr_info' in type'%}
	
</body>
</html>